# Puerto del API
PORT=3011

# URL pública de la app (frontend)
APP_URL=http://localhost:8100

# PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_DATABASE=4m
DB_PASSWORD=tu_password
DB_PORT=5432
DB_SSL=false

# JWT
JWT_SECRET=tu_secreto_jwt_muy_largo
JWT_EXPIRES=24h

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# SMTP
SMTP_HOST=smtp.zoho.com
SMTP_PORT=465
SMTP_USER=tu_correo@dominio.com
SMTP_PASS=tu_password_smtp
SMTP_FROM_NAME=4M
SMTP_FROM_EMAIL=tu_correo@dominio.com